/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

$tree_item_color: #666666;
$header_bg: #333333;
$admin_link_color: #ffffff;

#head{
    width: 100%;
    height: 40px;
    background: $header_bg;
    padding-top: 10px;
    b{
        margin: 5px 0px 0px 20px;
        font-size: 14px;
        color: #ffffff;
        font-family: Tahoma;
    }
}

#admin_button{
    float: right;
    color: $admin_link_color;
    margin: 5px 25px 0px 0px;
    font:{
        size: 14px;
    }
}

#tree_view{
    width: auto;
    height: 100%;
    float: left;
    a{
       color: $tree_item_color;
        font-size: 12px;
        background: #ffffff;
        height: 18px;
    }
}

.treeview :hover { color: #666666; cursor: pointer; }

.tableList td{
    width: 200px;
    border: 1px #e4dce5;
}

.collapsibleList{
    margin-left: 25px;
    margin-right: 15px;
    margin-top: 7px;
    li{
        margin-left: 0px;
        list-style:square url("../images/folder.png");
    }
}

.doc{
    background: url("../images/Document.png") no-repeat;
}

